@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 0, 0, 0.064);
}

header{
    background-color: #333;
    position: fixed;
    width: 100%;
    height: auto;   
}
.menu{
    padding: 5px;
}

.menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 45%;
}
.menu ul li{
    padding: 20px;

}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.menu ul li:hover{
    background-color: rgba(134, 134, 134, 0.603);
}

.fondo{
    background-image: url(../Images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.titulo_Principal{
    color: #fff;
    font-size: 2em;
    margin-bottom: 80px;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
}
.button{
    background-color: #333;
    padding: 12px 30px;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.874);
    cursor: pointer;
}

.button a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.content{
    display: flex;
    justify-content: space-between;
    width: 53%;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
}
article{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-spacing: 1px;
    text-align: center;
    height: 250px;
    justify-content: space-between;
}
article h2{
    font-weight: bold;
}

.botones{
    border: 2PX solid #333;
    padding: 12px 30px;
    font-weight: bolder;
}
.botones:hover{
    background-color: rgba(0, 0, 0, 0.874);
    cursor: pointer;
    color: #fff;
}

footer{
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #333;
    margin-top: 50px;
}
footer P{
    padding: 10px;
}
